<% layout('/layouts/boilerplate') %>


    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Nope</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="location" name="campground[image]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="Price"
                            aria-describedby="price-label" name="campground[price]" required>
                            <div class="valid-feedback">Looks good!</div>
                    </div>
  
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="campground[description]" required></textarea>
                </div>
                <div class="valid-feedback">Looks good!</div>
                <div class="mb-3">
                    <button class="btn btn-success">Add campground</button>
                </div>
            </form>
            <br>
            <a href="/campgrounds">Cancel</a>
        </div>
    </div>
