<% layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= campground.image %> class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">$<%= campground.price %>/night </li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit campground</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Remove this campground</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a href="/campgrounds">Back to all campgrounds</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Leave a review</h2>
            <form action="/campgrounds/<%= campground.id %>/reviews" class="mb-3 needs-validation" method="POST"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review: </label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let rev of campground.reviews) { %>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%= rev.rating %>
                        </h5>
                        <p class="card-text">Review: <%= rev.body %>
                        </p>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= rev._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>